div {
  text-align: center;
}
.search-bar {
  width: 500px;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 25px;
  border: none;
  border-radius: 35px;
  font-size: 24px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.google-logo {
  width: 300px;
  margin-bottom: 10px;
}

.search,
.feeling {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  border: none;
  background-color: rgb(246, 246, 246);
  color: black;
  font-size: 24px;
}
