p {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
  width: 300px;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 13px;
}
.desc {
  font-size: 10px;
  margin-bottom: 13px;
}
.more {
  font-size: 10px;
  color: rgb(8, 159, 209);
}
