.container {
  margin: 0;
  font-family: Arial;
  display: flex;
  vertical-align: middle;
  align-items: center;
  line-height: 25px;
}
.img-box {
  width: 120px;
  display: flex;
  justify-content: center;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: cover;
}
.info {
  font-size: 20px;
  width: 200px;
}
.name {
  font-weight: bold;
}
.info-about {
  color: gray;
}
.btn {
  background-color: rgb(55, 150, 246);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  border-radius: 8px;
}
.mt-40 {
  margin-top: 40px;
}
