.container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap:10px;
      }
      .div1,
      .div2,
      .div3,
      .div4 {
        background-color: lightpink;
      }